body {
  margin: 0;
}
.navbar_tarea{
	margin: 8px 0;
	border-radius: 8px 8px 0 0;
}
.toast{
	max-width: initial !important;
}
.mr-auto{
	font-size: 24px;
}
.toast-header button.close{
	display: none;
}
.finalizada{
	background-color: #17a2b8 !important;
}
